* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

header {
  height: 25vh;
  background: url(./assets/header-img.png);
  background-size: cover;
  background-position:initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  color: white;
  background-color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-content: center; 
}

a {
  text-decoration: none;
  color: white;
}

.search-bar {
  position: absolute;
  display: flex;
  width: 50vw;
  margin: -1em 25%;
  border: 1px solid #D1D5DB;
  border-radius: 0px 6px 6px 0px;
}

.icon {
  position: absolute;
  padding: 8px;
}

input, button {
  font-family: inherit;
  border: none;
}

input {
  width: 100%;
  padding: 0.5em 2em;
}

button {
  padding: 0 2em;
  cursor: pointer;
}

main {
 display: flex;
 justify-content: center; 
 align-items: center;
 flex-direction: column;
 margin-top: 2em;
 padding: 0 4em;
 color: #DFDDDD;
}

main i {
  font-size: 5rem;
  margin-bottom: 0.5em;
}

.movie-container {
  display: flex;
  align-items: center;
  margin: 0 3em 2em 3em;
  padding: 2em 3em;
  gap: 2em;
  width: 100%;
  max-width: 1080px;
  color: #111827;
  border-bottom: 1px solid grey;
}

.movie-container img {
  width: 100px;
  height: auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.movie-title-container {
  display: flex;
  align-items: center;
}

.fa-star {
  color: #FEC654;
  margin-left: 2em;
  margin-right: 0.5em;
}

.movie-time-genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.watchlist-icon {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

